.App {
  text-align: center;
  font-family: Garamond, serif;
  background-image: linear-gradient(to right, #66bbdd, #37ffaa);
  font-size: 17px;
}

.data{
  text-align: left;
}

.btn-group button{
  height: 50px;
  width: 100px;
  margin: 10px;
  background-image: linear-gradient(to right, #ffff00, #85dcb8);
}

ol {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px
}